# Build the package and publish it to PyPI after tests pass.
name: Publish to PyPI
on:
  workflow_run:
    workflows: ["run_tests"]
    types:
      - completed
    branches:
      - v0.1.3

jobs:
  publish:
    name: publish
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout source
        uses: actions/checkout@v3
        with:
          ref: v0.1.2
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: Build package
        run: |
          python -m pip install -U pip build
          python -m build
      - name: Publish
        uses: pypa/gh-action-pypi-publish@v1.5.0
        with:
          user: __token__
          password: ${{ secrets.DPLPY_PYPI }}
